name: Doc Detective
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  schedule:
    - cron: '0 9 * * *'  # Runs at 1 AM Pacific (9 AM UTC) every day

jobs:
  runTests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0
      - uses: doc-detective/github-action@7cd1f3609abc91634935dbc990bfa7b6e6326f71 #latest, May 7 2025
        with:
            exit_on_fail: true
