name: Optimize
on:
  # Comment the next line if you don't want the Action to run on Pull Requests.
  pull_request:
    branches:
      - main
jobs:
  svgs:
    name: SVGs
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 #v6.0.0
      # Uncomment the next 2 lines to select a branch for schedule or dispatch.
      #   with:
      #     ref: main
      - uses: ericcornelissen/svgo-action@5ca1239218b08fb8fd2326bf6f5840d01abe021f #v3.1.6
        with:
          svgo-version: 3
          repo-token: ${{ secrets.GITHUB_TOKEN }}
